<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791064301731-bida9tgfr7sidkp5n768gi9hsr8dt4nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791064301731-bida9tgfr7sidkp5n768gi9hsr8dt4nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCH6KyWWP2LFBz9mizMqvV5oUJ4vwZRxIM</string>
	<key>GCM_SENDER_ID</key>
	<string>791064301731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comcomcomcom.sugarsugars</string>
	<key>PROJECT_ID</key>
	<string>sugarsugar-97776</string>
	<key>STORAGE_BUCKET</key>
	<string>sugarsugar-97776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791064301731:ios:55fee67875423801b32f16</string>
	<key>DATABASE_URL</key>
	<string>https://sugarsugar-97776.firebaseio.com</string>
</dict>
</plist>